.container {
  width: 700px;
  margin: auto;
  height: 100vh;
  margin-top: 3px;
  /* background: linear-gradient(234deg, lightgrey -123%, black 100%); */
  color: white;
  display: flex;
  flex-direction: row;
  gap: 230px;
  border-radius: 3px;
  padding: 10rem 70rem 15rem 13rem;
}

.container-left {
  margin-left: -4rem;
  /* width: 800px; */
  max-height: 350px;
}

.container-left span {
  display: inline-block;
  width: 19rem;
}

.container-right {
  display: inline-block;
  padding-top: 50px;
  padding-right: 47px;
  margin-top: -35px;
  box-shadow: 1px 11px 44px -23px rgba(0, 0, 0, 0.19);
}

.thin {
  font-size: 2.9rem;
  color: white;
}

.bold {
  font-size: 2.8rem;
  font-weight: 900;
  color: white;
}

.italic {
  padding-top: 3rem;
  font-size: 1rem;
}
.subject-list {
  padding-top: 2px;
  padding-left: 3rem;
  padding-right: 47px;
  margin-top: -35px;
  margin-bottom: 7rem;
  box-shadow: 1px 11px 44px -23px rgba(0, 0, 0, 0.19);
}

.selectedsubjectt {
  font-size: 1.8rem;
  position: absolute;
  top: -160px;
  left: 12px;
}


i {
  font-size: 1.6rem;
  color: rgb(111, 113, 114);
  /* margin-left: -8rem; */
}

.thin .question {
  margin-top: -2.1rem;
  /* font-size: 2rem; */
  text-align: left;
  line-height: 2.6rem;
  /* max-height: 120%; */
  position: relative;
}

.question p {
  margin-top: 1.4rem;
  /* text-align: left; */
  font-size: 1.8rem;
  min-width: 359px;
}

.container-list {
  margin-left: 3rem;
  margin-top: -3rem;
}

.container-listing {
  display: flex;
  border: transparent;
  background: dimgray;
  margin: 32px 0;
  width: 29rem;
  border-radius: 10px;
  padding-top: 0.6rem;
  padding-left: 0.9rem;
  padding-bottom: 1rem;
  gap: 33px;
  cursor: pointer;
}

.container-listing img {
  background: white;
  width: 3rem;
  border-radius: 0.6rem;
  padding: 3px 4px;
}

.container-listing h1 {
  margin-top: 0.6rem;
  font-size: 1.5rem;
}

.container-listing:hover {
  transform: scale(1.12);
  transition: 0.6sec;
}

.submit-button {
  margin-top: 20px;
}

.submit-button button {
  padding: 24px 201px;
  border-radius: 14px;
  margin-left: 3rem;
  font-size: 20px;
  background-color: #9215e6; /* Blue */
  color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: rgb(252, 7, 7);
  margin-top: 1.7rem;
  margin-left: 8rem;
  font-weight: 600;
  padding-bottom: 1rem;
  font-size: 18px;
}

.container-listing.selected {
  background-color: rgb(167, 171, 167);
}

.container-listing.correct {
  background-color: #06ff06; /* Light green */
}

.container-listing.incorrect {
  background-color: #f60d0d; /* Light red */
}

.result-container {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  /* gap: 10rem; */
  position: fixed;
  top: 100px;
  left: 0;
  color: rgb(236, 180, 180);
  margin-left: 16rem;
  /* background-color: rgba(83, 80, 80, 0.8); semi-transparent white */
}

.result-container h2 {
  min-width: 245px;
  font-size: 1.4rem;
  margin-left: 0rem;
  color: #ffff;
  margin-bottom: 3rem;
}
.result-container button {
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 2rem;
  background-color: #06ff06;
  margin-bottom: 20rem;
  margin-left: 2rem;
  cursor: pointer;
}

.dark-mode {
  background-color: #000000;
  color: #fff;
}

@media (max-width: 486px) {
  .container {
    display: block;
  }
  .container-left {
    margin-top: -74px;
    margin-left: -130px;
  }

  .italic {
    margin-top: -1rem;
  }
  .italic i {
    font-size: 1rem;
  }
  .subject-list {
    margin-top: 37px;
    margin-left: -196px;
  }
  .container-listing {
    width: 390px;
  }
  .container-listing h1 {
    font-size: 1.2rem;
  }
  .question p {
    font-size: 1.6rem;
  }
  .container-right {
    font-size: 3rem;
    margin-top: 2px;
    margin-left: -12rem;
  }
  .submit-button {
    margin-top: -1px;
  }
  .submit-button .submitt-button {
    padding-left: 187px;
    width: 1px;
  }
  .submit-button .submitt-button p {
    margin-left: -2rem;
  }
  button span {
    padding-left: 2px;
  }
  .error-message {
    margin-top: 9px;
    margin-left: 82px;
  }
  .result-container {
    display: block;
    margin-left: -80px;
    gap: 2;
  }
  .result-container h2 {
    margin-top: -37px;
  }
  .result-container button {
    margin-bottom: 2px;
  }
}
