.container {
  width: 700px;
  margin: auto;
  margin-top: 3px;
  /* background: linear-gradient(234deg, lightgrey -123%, black 100%); */
  color: white;
  display: flex;
  flex-direction: row;
  gap: 230px;
  border-radius: 3px;
  padding-top: 10rem;
  padding-bottom: 15rem;
  padding-left: 13rem;
  padding-right: 70rem;
}

.container-left {
  margin-left: -4rem;
}

.container-left span {
  display: inline-block;
  width: 19rem;
}

.container-right {
  display: inline-block;
  padding-top: 50px;
  padding-right: 47px;
  margin-top: -35px;
  box-shadow: 1px 11px 44px -23px rgba(0, 0, 0, 0.19);
}

.thin {
  font-size: 2.9rem;
  color: white;
}

.bold {
  font-size: 2.8rem;
  font-weight: 900;
  color: white;
}

.italic {
  padding-top: 3rem;
  font-size: 1rem;
}
.subject-list {
  padding-top: 2px;
  padding-left: 3rem;
  padding-right: 47px;
  margin-top: -35px;
  box-shadow: 1px 11px 44px -23px rgba(0, 0, 0, 0.19);
}

.container-list {
  margin-left: 3rem;
  margin-top: -3rem;
}

.container-listing {
  display: flex;
  border: transparent;
  background: dimgray;
  margin: 32px 0;
  width: 29rem;
  border-radius: 10px;
  padding-top: 0.6rem;
  padding-left: 0.9rem;
  padding-bottom: 1rem;
  gap: 33px;
  cursor: pointer;
}

.container-listing img {
  background: white;
  width: 3rem;
  border-radius: 0.6rem;
  padding: 3px 4px;
}

.container-listing h1 {
  margin-top: 0.6rem;
  font-size: 1.6rem;
}

.container-listing:hover {
  transform: scale(1.12);
  transition: 0.6sec;
}

.submit-button {
  margin-top: 20px;
}

.submit-button button {
  padding: 24px 201px;
  border-radius: 14px;
  margin-left: 3rem;
  font-size: 20px;
  background-color: #9215e6; /* Blue */
  color: white;
  border: none;
  cursor: pointer;
}

.container-listing.selected {
  background-color: lightgreen;
}

.container-listing.correct {
  background-color: #083103; /* Light green */
}

.container-listing.incorrect {
  background-color: #ff0000; /* Light red */
}

/* .question{
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
} */

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  background-color: rgba(23, 21, 21, 0.8); /* semi-transparent white */
}

.result {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
