.container {
  width: 700px;
  margin: auto;
  margin-top: 3px;
  /* background: linear-gradient(234deg, lightgrey -123%, black 100%); */
  color: white;
  display: flex;
  flex-direction: row;
  gap: 230px;
  border-radius: 3px;
  padding: 10rem 70rem 15rem 13rem;
}

.container-left {
  margin-left: -4rem;
}

.container-left span {
  display: inline-block;
  width: 19rem;
}

.container-right {
  display: inline-block;
  padding-top: 50px;
  padding-right: 47px;
  margin-top: -35px;
  box-shadow: 1px 11px 44px -23px rgba(0, 0, 0, 0.19);
}

.thin {
  font-size: 2.9rem;
  color: white;
}

.bold {
  font-size: 2.8rem;
  font-weight: 900;
  color: white;
}

.italic {
  padding-top: 3rem;
  font-size: 1rem;
}
.subject-list {
  padding-top: 2px;
  padding-left: 3rem;
  padding-right: 47px;
  margin-top: -35px;
  box-shadow: 1px 11px 44px -23px rgba(0, 0, 0, 0.19);
}

.container-list {
  margin-left: 3rem;
  margin-top: -3rem;
}

.container-listing {
  display: flex;
  border: transparent;
  background: dimgray;
  margin: 32px 0;
  width: 29rem;
  border-radius: 10px;
  padding-top: 0.6rem;
  padding-left: 0.9rem;
  padding-bottom: 1rem;
  gap: 33px;
  cursor: pointer;
}

.container-listing img {
  background: white;
  width: 3rem;
  border-radius: 0.6rem;
  padding: 3px 4px;
}

.container-listing h1 {
  margin-top: 0.6rem;
  font-size: 1.5rem;
}

.container-listing:hover {
  transform: scale(1.12);
  transition: 0.6sec;
}

.submit-button {
  margin-top: 20px;
}

.submit-button button {
  padding: 24px 201px;
  border-radius: 14px;
  margin-left: 3rem;
  font-size: 20px;
  background-color: #9215e6; /* Blue */
  color: white;
  border: none;
  cursor: pointer;
}

.container-listing.selected {
  background-color: rgb(167, 171, 167);
}

.container-listing.correct {
  background-color: #06ff06; /* Light green */
}

.container-listing.incorrect {
  background-color: #f60d0d; /* Light red */
}

.question{
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    line-height: 2.9rem;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  gap: 10rem;
  position: fixed;
  top: 100px;
  left: 0;
  color: rgb(236, 180, 180);
  background-color: rgba(23, 21, 21, 0.8); /* semi-transparent white */
}


.result-container h2{
    font-size: 1.8rem;
    margin-left: -12rem;
}
.result-container button{
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 2rem;
    background-color: #06ff06;
    margin-left: -2 rem;
}