* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(234deg, lightgrey -123%, black 100%);
  overflow: hidden;
}

.app-container {
  padding: 10px;
  background-color: lightgray color#00000033;
}

.dark-mode .app-container {
  background-color: #000000;
  color: #fff;
}
