.toggle-menu {
    display: flex;
    justify-content: center;
    margin-top: 2.8rem;
    margin-left: 50rem;
  }
  
  .toggle-btn {
    position: relative;
    width: 60px;
    height: 35px;
    background-color: rgb(230, 12, 230);
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .thumb {
    position: absolute;
    top: 10%;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .toggled .thumb { 
    transform: translateX(28px);
  }
  
  .sun-light{
    position: absolute;
    left: -45px;
    top: 49%;
    transform: translateY(-50%);
    width: 29px;
  }

  .moon-light{
    position: absolute;
    left: 79px;
    top: 49%;
    transform: translateY(-50%);
    width: 29px;
  }